
<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
	<title>Hot and Cheesy!</title>
	<script type="text/javascript" src="javascripts/phaser.min.js"></script>
	<script type="text/javascript" src="javascripts/Ship.js"></script>
	<script type="text/javascript" src="javascripts/EnemyShip.js"></script>
	<script type="text/javascript" src="javascripts/FriendlyShip.js"></script>
	<script type="text/javascript" src="javascripts/PlayerShip.js"></script>
    <!-- <style type="text/css" src="stylesheets/phaser-examples.css"></style> -->
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<div id="game">
<div>
<script type="text/javascript" src="javascripts/main.js"></script>
</div>
</div>

</body>
</html>
